@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="boostrap/bootstrap.css" rel="stylesheet" />
    <script src="boostrap/bootstrap.js"> </script>

    <link href="slider/examples-bootstrap/bootstrap.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body style="background-image:url(images/bg_main.jpg);">
    <!--HEAD-->
    <div style="background-image:url(images/header.png); width:1200px; height:200px;"></div>
    <nav class="navbar navbar-inverse" role="navigation">
    <div>
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        
    </div>
    </nav>

    
    
    <div>
        @RenderBody()
    </div>
    

    <!--FOOTER-->
    <div style="background-color:black; width:1200px; height:150px; float:left">
        <div style="color:yellow; margin-top:30px; margin-left:30px;">
            <h1>Contact us:</h1>
            <div>
                Abdul Razaq Ali : 0323-6519746<br />
                Fraz Ahmad: 0332:8423787
            </div>
            <div style="text-align:center">copyright Qeel Solution 2015 - All right reserve</div>
        </div>

    </div>

</body>
</html>
